name: Tusk Test Runner - httpsgithubcomIShalkinmanoe Jest unit tests

# Required for Tusk
on:
  workflow_dispatch:
    inputs:
      runId:
        description: "Tusk Run ID"
        required: true
      tuskUrl:
        description: "Tusk server URL"
        required: true
      commitSha:
        description: "Commit SHA to checkout"
        required: true
      runnerIndexes:
        description: "Runner indexes"
        required: false
        default: '["1"]'

jobs:
  test-action:
    name: Tusk Test Runner
    runs-on: ubuntu-latest

    # Required for test parallelization where available, do not remove.
    strategy:
      matrix:
        runnerIndex: ${{ fromJson(github.event.inputs.runnerIndexes) }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.commitSha }}

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies (api-gateway)
        working-directory: api-gateway
        run: npm ci

      - name: Start runner
        uses: Use-Tusk/test-runner@v1
        # See https://github.com/Use-Tusk/test-runner for full details and examples.
        with:
          runId: ${{ github.event.inputs.runId }}
          tuskUrl: ${{ github.event.inputs.tuskUrl }}
          commitSha: ${{ github.event.inputs.commitSha }}
          authToken: ${{ secrets.TUSK_AUTH_TOKEN }}
          appDir: "api-gateway"
          testFramework: "Jest"

          # This is relative to the root of the repo (so include appDir in the pattern).
          testFileRegex: '^api-gateway/src/__tests__/.*\\.test\\.ts$'

          testScript: 'node ./api-gateway/node_modules/jest/bin/jest.js --config api-gateway/jest.config.js --runInBand --silent {{file}}'
          runnerIndex: ${{ matrix.runnerIndex }}
